@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.imagen-fondo-inicio {
  background-image: url("../img/verde.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amartillo);
  top: 0;
  right: 0;
}
.imagen-fondo-inicio::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(#13151a, #dbcfcf);
  opacity: 0.7;
}
h2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 45px;
  color: #ddd;
  font-size: calc(1em + 1vw);
  color: var(--verde);
  font-weight: bold;
  text-shadow: 2px 2px var(--amartillo);
  font-family: "Bebas Neue", cursive;
}
h3 {
  position: relative;
  font-size: calc(0.6em + 0.6vw);
  font-family: "Roboto", sans-serif;
  margin-top: 10rem;
  z-index: 1;
  padding: 2rem;
  color: var(--blanco);
}
/* este es el modal */

body {
  overflow-x: hidden;
  font-size: calc(1em + 1vw);
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}

:root {
  --verde: #79b4b7;
  --negro: #434242;
  --beige: #fefbf3;
  --blanco: #ffffff;
  --amartillo: #f8f0df;
}
.inicio-nav {
  display: grid;
  flex-direction: column;
  background-color: var(--beige);
  width: 100%;
  height: 100vh;
}
.body {
  flex-direction: column;
  background-color: var(--amartillo);
  width: 100%;
}
.banier {
  display: flex;
  padding: 10px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banier button {
  width: 60%;
  margin: 20px;
  padding: 10px;
  font-size: 15px;
  border: solid var(--verde) 2px;
  background-color: var(--blanco);
  font-size: calc(0.3em + 0.4vw);
  font-family: "Roboto", sans-serif;
}
.banier i {
  position: relative;
  right: 10px;
}
.google img {
  width: 20px;
  position: relative;
  right: 10px;
}
.foobok img {
  width: 20px;
  position: relative;
  right: 10px;
  font-size: calc(0.4em + 0.4vw);
}
.parrafo {
  display: flex;
  font-size: calc(0.4em + 0.4vw);
  color: var(--verde);
  font-family: "Roboto", sans-serif;
}
.div-flecha i {
  font-size: 25px;
  text-decoration: none;
  color: var(--verde);
}
/* modal */
.modal-icono {
  display: flex;
  font-size: calc(0.5em + 0.5vw);
  font-family: "Roboto", sans-serif;
}
.modal-icono i {
  /* font-size: 300px; */

  color: var(--negro);
  text-align: center;
  width: 100%;
  font-size: calc(1.8em + 1.8vw);
}
.p input {
  font-size: 20px;
  border: solid var(--verde) 2px;
}
.p input::placeholder {
  font-size: 20px;
  color: var(--verde);
}
.p button {
  font-size: 20px;
  background-color: var(--verde);
  color: var(--blanco);
  border: solid var(--beige) 2px;
}
.p button:hover {
  font-size: 20px;
  background-color: var(--blanco);
  color: var(--verde);
  border: solid var(--verde) 2px;
}
