@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
body {
  scroll-behavior: smooth;
  background-color: #d1d11c;
  font-size: calc(2em + 2vw);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

/* LISTA DE NAVABAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 5;
}
.lista-bootstrap {
  width: 60%;
  display: flex;
  align-items: center;
}

.lista-bootstrap li {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lista-bootstrap li a {
  color: #1e878d;
  background-color: #f9f8f7;
  font-size: 2rem;
  margin-left: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid #79b4b7 2px;
}
.lista-bootstrap li a.active {
  background-color: #66bfbf;
  color: #fff;
}

.lista-bootstrap li a:hover {
  background-color: #66bfbf;
  border: solid #fff 2px;
  color: #fff;
}
/* CARRUSEL S E C T I O N */
.img-carrusel {
  position: relative;
  height: 80vh;
}
.img-carrusel::before {
  content: "";
  width: 100%;
  height: 90vh;
  position: absolute;
  /* top: 100px; */
  right: 0;
  background-image: linear-gradient(#161f30, #1b1a1a);
  opacity: 0.8;
  z-index: 1;
}
.img-carrusel img {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.img-carrusel h2 {
  position: relative;
  font-size: 10rem;
  z-index: 1;
  color: #dfdfde;
  top: -110px;
  font-family: "Roboto", sans-serif;
}
.img-carrusel h2::before {
  content: "//";
  margin-bottom: 2px solid red;
  position: absolute;
  font-size: 10rem;
  z-index: 1;
  color: #dfdfde;
  left: 270px;
  font-family: "Roboto", sans-serif;
}
.img-carrusel h2::after {
  content: "//";
  margin-bottom: 2px solid red;
  position: absolute;
  font-size: 10rem;
  z-index: 1;
  color: #dfdfde;
  /* top: -110px; */
  font-family: "Roboto", sans-serif;
}
/* CONTAINER I M A G E N F O N D O */
.container-imagen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-imagen {
  background-image: url("../img/verde.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 300px;
}
.container-imagen::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(rgb(234, 246, 246), rgb(250, 244, 244));
  opacity: 0.5;
}

/* COLO DE TEXTO */
.container-div-texto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.text-grid1 {
  position: relative;
  width: 100%;
  background-color: #66bfbf;
  box-shadow: 0px 10px 14px rgb(243, 248, 248);
  z-index: 1;
  border-radius: 5px;
  color: #ffffff;
  border-right: 15px solid #ffff;
}

.container-div-texto .text-grid1 p {
  font-size: 2rem;
  padding: 20px 30px;
  line-height: 22px;
}

.container-div-texto .text-grid1 h2 {
  font-size: 2rem;
  padding: 50px 30px;
  font-family: "Righteous";
  font-weight: bold;
  left: 16px;
}
.text-grid2 {
  position: relative;
  width: 100%;
  background-color: #eaf6f6;
  z-index: 1;
  color: #66bfbf;
  border-radius: 5px;
  box-shadow: 0px 10px 14px rgb(157, 228, 228);
  border-right: 20px solid #66bfbf;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* lado texto 2 */
.container-div-texto .text-grid2 p {
  font-size: 2rem;
  padding: 20px 30px;
  line-height: 22px;
}
.container-div-texto .text-grid2 h2 {
  font-size: 3rem;
  padding: 50px 30px;
  font-family: "Righteous";
  font-weight: bold;
  left: 16px;
}

/* SECTION DE TEXTO */
.texto-narrativo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 305px;
  padding: 20px;
  height: 60vh;
  border: rgb(77, 207, 44) solid 2px;
  /* background-color: #24a19c; */
}
.conainer-text h2 {
  font-size: 5rem;
  padding: 50px 30px;
  font-family: "Righteous";
  font-weight: bold;
  left: 1rem;
}
.conainer-text p {
  font-size: 3rem;
  padding: 50px 30px;
  font-family: "Righteous";
}

/* GALERIA DE IMAGENES */
.container-sectio-img {
  position: relative;
  top: 305px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(207, 44, 44);
}
.container-row {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 2rem;
  border: 3px solid rgb(77, 207, 44);
  justify-content: space-between;
}
.image-wrapper {
  position: relative;
  overflow: hidden;
  object-fit: cover;
  margin: 2px;

  border: 3px solid rgb(207, 131, 44);
}
.image-wrapper img {
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
/*  */
.image-wrapper .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.image-wrapper:hover .overlay {
  opacity: 1;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay p,
h2 {
  font-size: 3rem;
}

/* GALERIS DE IMAGENS */

/* SECTION DE T A B L A */

.container-section {
  height: 90vh;
  margin-top: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #ffffff;
  border: solid red 2px;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgb(71, 165, 165) 0.5%,
    rgb(227, 186, 238) 100%
  );
}
.div-container-table {
  width: 90%;
}
.div-form-h2 {
  position: relative;
  /* border: solid 2px rgb(163, 110, 110); */
  padding: 2rem;
}
.div-form-h2 h2 {
  font-size: 3rem;
  font-family: "Righteous";
  font-weight: bold;
  /* border: solid 2px rgb(163, 110, 110); */
}
.input {
  position: relative;
}
.buscar::placeholder {
  /* position: relative; */
  color: #66bfbf;
}

.div-form i {
  position: absolute;
  top: 7rem;
  font-size: 2rem;
  right: 30px;
  color: #66bfbf;
}
.table {
  border: solid 2px rgb(243, 237, 237);
  font-size: 20px;
  color: #f9f9f9;
}
.colores-paleta {
  background-color: #66bfbf;
  color: #66bfbf;
  background-color: #eaf6f6;
  color: #eaf6f6;
  background-color: #f9f9f9;
  color: #f9f9f9;
  background-color: #ffffff;
  color: #ffffff;
  background-color: #ff0063;
  color: #ff0063;
}

/* SECTION COLOR FORMULARIO */

.container-form .row-center-form {
  border: solid 2px #6df574;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  width: 90%;
}

/* dentro input */
.form-control {
  color: #24a19c;
  border: solid 1px #24a19c;
  font-size: 2rem;
}
.form-check-input {
  background-color: #24a19c;
}
.container-form .form-control::placeholder {
  color: #24a19c;
  font-size: 1.5rem;
}
.container-form .row-center-form button:hover {
  background-color: #f9f9f9;
  color: #24a19c;
  font-size: 2rem;
}
.row-center-form div {
  height: 10vh;
  border: solid 2px #e6c0ca;
}
.container-form .row-center-form button {
  text-align: center;
  width: 100%;
  color: #dfdfde;
  margin-top: 10px;
  font-size: 2rem;
  background-color: #24a19c;
}
.container-form .row-center-form label {
  font-size: 2rem;
}
/* bloque donde va el form */
.container-form {
  position: absolute;
  width: 100%;
  padding: 2rem;
  margin-top: 40rem;
  font-size: 2rem;
  background-color: rgb(249, 249, 249, 0.9);
  color: #24a19c;
  z-index: 5;
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 5px #b12f52;
}
.container-form .row-center-form h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Righteous";
}
/* SECTION DE FOOTER */
.conaitainer-foter {
  margin-top: 70rem;
  background-color: #1b1a1a;
  /* height: 100vh; */
  width: 100%;
}
